.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
}

.header {
  min-height: 100%;
  grid-area: header;
}
.menu {
  min-height: 100%;
  grid-area: menu;
}
.main {
  min-height: 100%;
  grid-area: main;
  overflow-y: scroll;
  background-color: #9e9e9e;
}
.footer {
  min-height: 100%;
  grid-area: footer;
}

.item {
  /* border: 1px solid red;*/
}
